.search-bar {
    /* border: 1px solid blue; */
    
    display:flex;
    justify-content: center;
    align-items:flex-start;
    
}
.search-bar input{
    height:40px;
    width:270px;
}
.search-bar button{
    height: 40px;
    cursor: pointer;
    border-left: none;
}